Summary Statistics 18-04-21.xlsx
Summary Statistics 2018-04-21 00:55:12.xlsx
Summary Statistics 2018-04-21 02:57:30.xlsx
Summary Statistics 2018-04-24 08:19:54.xlsx
field_sumsarized.html
rprofout.out
rprofout.txt
Summary Statistics 03-May-18.xlsx
Summary Statistics 07-May-18.xlsx
field_metadata.rmd
field_notes.Rmd
load_save_data.rmd
Summary Statistics 01-Jun-18.xlsx
Summary Statistics 03-Jul-18.xlsx
Summary Statistics 03-Jun-18.xlsx
Summary Statistics 04-Jul-18_post purchasr.xlsx
Summary Statistics 04-Jun-18.xlsx
Summary Statistics 06-Jun-18.xlsx
Summary Statistics 08-May-19.xlsx
Summary Statistics 10-May-18.xlsx
Summary Statistics 11-Jul-18.xlsx
Summary Statistics 12-Jul-18.xlsx
Summary Statistics 14-Jun-18.xlsx
Summary Statistics 18-Jun-18.xlsx
Summary Statistics 19-Jun-18.xlsx
Summary Statistics 20-Jun-18.xlsx
Summary Statistics 27-Jun-18.xlsx
Summary Statistics 27-Nov-18.xlsx
Summary Statistics 29-Jun-18.xlsx
Summary Statistics 31-May-18.xlsx
field_sumsarized.Rmd
field_sumsarized_18_nonpurchasers.html
field_sumsarized_POST_11_homes.html
field_sumsarized_PRE_11_homes.html
field_sumsarized_Post_10purchaser.html
field_sumsarized_mainresults_60_2-17-18.html
